{% extends "theme.html" %}

{% block content %}
<h2 align="center">产品发布界面</h2><br>
<!-- enctype 传输的编码格式设定-->

<form action="{% url '发布页面' %}" method="post" enctype="multipart/form-data" align='center'>
    {% csrf_token %}
    <input type="text" name="app_title" placeholder="app名称"><br>
    <textarea cols=100 rows=10 name="app_intro" >在这里写APP介绍</textarea><br>
    <input type="text" name="app_link" value="http://"><br>


    <input type="file" name="app_icon"><br>
    <input type="file" name="app_image_icon"><br>
    <br>
    {{错误}}
    <input type="submit" value="提交">
</form>{% endblock content %}

